{{#each this}}
  <div class='image-wrapper'>
    <img src={{webformatURL}} alt='' data-src={{largeImageURL}} width='640' height='425' />

    <div class='stats'>
      <p class='stats-item'>
        <i class='material-icons'>thumb_up</i>
        {{likes}}
      </p>
      <p class='stats-item'>
        <i class='material-icons'>visibility</i>
        {{views}}
      </p>
      <p class='stats-item'>
        <i class='material-icons'>comment</i>
        {{comments}}
      </p>
      <p class='stats-item'>
        <i class='material-icons'>cloud_download</i>
        {{downloads}}
      </p>
    </div>
  </div>{{/each}}